.bar {
  margin-top: 10px;
  padding: 3px 6px;
  background: var(--win-gray);
  font-family: "MS Sans Serif", sans-serif;
  font-size: 0.8rem;
  color: #000;
  display: flex;
  align-items: center;
  height: 24px;
  width: 100%;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}