.container {
  flex: 1;
  height: 24px; 
  position: relative;
  border-top: 2px solid var(--win-shadow-dark);
  border-left: 2px solid var(--win-shadow-dark);
  border-right: 2px solid var(--win-light);
  border-bottom: 2px solid var(--win-light);
  background-color: white;
  padding: 2px;
  overflow: hidden;
}

.filler {
  height: 100%;
  background-color: #000080; 
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  z-index: 1;
}

.blocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg, 
    transparent 0%, 
    transparent 80%, 
    white 80%, 
    white 100%
  );
  background-size: 15px 100%;
  z-index: 2;
  opacity: 0.3;
  pointer-events: none;
}