.container {
  flex: 1;
  height: 24px; 
  position: relative;
  border-top: 2px solid var(--win-shadow-dark);
  border-left: 2px solid var(--win-shadow-dark);
  border-right: 2px solid var(--win-light);
  border-bottom: 2px solid var(--win-light);
  background-color: white;
  padding: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.filler {
  height: 100%;
  background-color: #000080; 
  width: 0%;
  animation: progress 2s linear infinite;
}

.blocks {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg, 
    #000080 0%, 
    #000080 70%, 
    transparent 70%, 
    transparent 100%
  );
  background-size: 14px 100%;
  animation: moveBlocks 1s linear infinite;
}

@keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}
@keyframes moveBlocks {
  0% { background-position: 0 0; }
  100% { background-position: 20px 0; }
}