.container {
  display: flex; 
  flex-direction: column; 
  gap: 10px;
}

.reviewContainer {
  margin-top: 20px;
}

.label {
  font-weight: bold;
}

.inputRow {
  display: flex; 
  gap: 8px;
}

.urlInput {
  flex: 1; 
  padding: 8px;
}

.loadingGroup {
  display: flex; 
  gap: 5px; 
  flex: 1; 
  max-width: 200px;
}

.cancelButton {
  font-weight: bold; 
  padding: 0 10px; 
  cursor: pointer;
}

.actionButton {
  min-width: 140px; 
  padding: 0 20px; 
  cursor: pointer; 
  font-weight: bold;
}

.errorBox {
  margin-top: 20px; 
  padding: 10px; 
  background: #ffffcc; 
  color: red; 
  display: flex; 
  gap: 10px; 
  align-items: center;
}