.container {
  width: 100%;
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-bottom: 20px;
  padding-bottom: 20px; 
  border-bottom: 1px solid var(--win-shadow-dark);
}

.label {
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}

.inputRow {
  display: flex;
  gap: 8px; 
}

.progressRow {
  display: flex;
  margin-top: 5px;
  padding: 0px;
}

.input {
  flex: 1;
  padding: 8px;
  font-family: inherit;
}

.resultsList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}