:root {
  --win-gray: #c0c0c0;
  --win-teal: #008080;
  --win-dark: #000000;
  --win-light: #ffffff;
  --win-shadow-dark: #808080;
  --win-shadow-light: #dfdfdf;
  --win-blue-title: #000080;
  --win-blue-grad: #1084d0;
}

* {
  box-sizing: border-box;
  border-radius: 0 !important; 
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--win-teal);
  font-family: "MS Sans Serif", "Tahoma", "Segoe UI", sans-serif;
  -webkit-font-smoothing: none; 
  color: var(--win-dark);
}

.win95-border {
  background-color: var(--win-gray);
  border-top: 2px solid var(--win-light);
  border-left: 2px solid var(--win-light);
  border-right: 2px solid var(--win-dark);
  border-bottom: 2px solid var(--win-dark);
  box-shadow: 1px 1px 0px 0px var(--win-shadow-light) inset, 
              -1px -1px 0px 0px var(--win-shadow-dark) inset;
}

.win95-inset {
  background-color: var(--win-light);
  border-top: 2px solid var(--win-shadow-dark);
  border-left: 2px solid var(--win-shadow-dark);
  border-right: 2px solid var(--win-light);
  border-bottom: 2px solid var(--win-light);
  box-shadow: inset 1px 1px 0px 0px var(--win-dark),
              1px 1px 0px 0px var(--win-light);
}

input, textarea, button {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  font-family: inherit;
}