.formContainer {
  background-color: #ffffff;
  border-radius: 8px;
  text-align: left;
}

.sectionTitle {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 1rem;
}

.submitButton {
  background-color: #28a745;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 70%;
}

.submitButton:hover {
  background-color: #218838;
}